.buttonContainer {
  display: flex;
  flex-direction: column; /* Стовпчик для заголовка та кнопок */
  width: 100%; /* Ширина контейнера на всю ширину батьківського елемента */
}

.buttonContainer h2 {
  margin-bottom: 24px; /* Нижній відступ для заголовка h2 */
}

.buttonBox {
  display: flex;
  flex-wrap: wrap; /* Дозволити перенесення кнопок на новий ряд */
  gap: 8px; /* Відстань між кнопками */
  /* width: 100%;  */
  margin-bottom: 64px; /* Нижній відступ */
}

.buttonBox button {
  flex: 1; /* Кнопки займають всю доступну ширину */
  min-width: calc(
    (100% - 2 * 8px) / 3
  ); /* Ширина кожної кнопки з урахуванням відстані між ними */
  cursor: pointer; /* Курсор у вигляді покажчика */
  padding: 10px 20px; /* Відступи для кнопок */
  font-size: 16px; /* Розмір шрифту для кнопок */
  border: 1px solid #10182833; /* Вилучити обводку */
  border-radius: 5px; /* Закруглені кути */
  background-color: #f7f7f7; /* Фоновий колір кнопок */
  transition: background-color 0.3s; /* Плавний перехід фону */
  height: 100px;
}

.buttonBox button:hover {
  background-color: #e0e0e0; /* Колір фону при наведенні */
}

.iconStyle {
  width: 40px;
  height: 28px;
}

.buttonText {
  display: flex; /* Використовуємо flexbox для компонування */
  flex-direction: column; /* Компонування вмісту по вертикалі */
  align-items: center; /* Центрування іконки та тексту по горизонталі */
  justify-content: center;
}
