.container {
  margin-bottom: 32px;
}
.text {
  margin-bottom: 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #101828;
}

input {
  background: #1018281a;
  width: 360px;
  height: 56px;
  padding: 18px 218px 18px 18px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  border: none;
}
input:active {
  border: none;
}

.inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.inputField {
  padding-left: 30px; /* Оставить место для иконки */
  width: 100%; /* Ширина поля ввода */
}

.iconStyle {
  position: absolute;
  left: 10px; /* Расположить иконку слева */
  top: 50%;
  transform: translateY(-50%); /* Вертикальное центрирование иконки */
  pointer-events: none; /* Чтобы иконка не блокировала взаимодействие с input */
  color: #000; /* Цвет иконки */
  width: 18px;
  height: 20px;
}
