.container {
  display: flex;
  justify-content: space-between; /* Проміжок між колонками */
  gap: 64px; /* Проміжок між лівою і правою колонками */

  max-width: 1440px; /* Загальна ширина контейнера */
  width: 100%; /* Ширина контейнера займає всю доступну ширину */
  margin: 0 auto; /* Вирівнювання по центру екрану */
  padding: 0 20px; /* Відступи від країв контейнера (20px зліва і справа) */
}

.leftSideBox {
  flex: 1;
  max-width: 300px; /* Встановіть потрібну ширину для лівої колонки */
}

.rightSideBox {
  flex: 3;
  /* Інші стилі для правої колонки */
}

.btnShowSearch {
  width: 173px;
  height: 56px;
  padding: 16px 60px;
  gap: 10px;
  border-radius: 200px;
  background-color: #e44848;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.btnShowSearch:hover {
  background: #d84343;
}
