.camperCard {
  display: flex;
  border: 1px solid #10182833;
  padding: 24px;
  border-radius: 20px;
  margin-bottom: 32px;
  gap: 24px;
  width: 100%;
  box-sizing: border-box; /* Включает padding и border в общую ширину */
}

.textCard {
  flex: 1; /* Заполняет доступное пространство */
}
.imgCard {
  border-radius: 10px;
  width: 290px;
  object-fit: cover;
  object-position: unset;
}
.textCard {
}

.horizontContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  /* align-items: center; */
  /* justify-items: center; */
}
.description {
  white-space: nowrap; /* Забороняє перенос тексту */
  width: 500px;
  overflow: hidden; /* Обрізає текст, якщо він виходить за межі контейнера */
  text-overflow: ellipsis; /* Додає три крапки, якщо текст не поміщається */
  max-width: 100%; /* Обмежує ширину опису шириною батьківського контейнера */
  display: block;
  margin-bottom: 24px;
}
.iconStyle {
  width: 24px;
  height: 24px;
  fill: black;
}
.iconPrice {
  display: flex;
  gap: 10px;
  align-items: center;
}

.locationContainer {
  margin-bottom: 24px;
}
.iconLocation {
  display: flex;
  gap: 10px;
  align-items: center;
  /* margin-bottom: 24px; */
}

.buttonBox {
  display: flex;
  gap: 8px;
}
.buttonText {
  display: flex;
  gap: 8px; /* Відстань між іконкою та текстом всередині кнопки */
  align-items: center; /* Вирівнюємо іконку та текст по центру */
  background-color: #f2f4f7;
  padding: 12px 18px 12px 18px;
  border-radius: 100px;
  border: none;
  margin-bottom: 24px;
}

.btnShowSearch {
  width: 173px;
  height: 56px;
  padding: 16px 40px;
  gap: 10px;
  border-radius: 200px;
  background-color: #e44848;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.btnShowSearch:hover {
  background: #d84343;
}

.btnHeart {
  background-color: #f7f7f7;
  border: black;
  align-items: center; /* Вирівнює контент всередині кнопки по центру */

  padding: 0; /* Видаляє будь-які внутрішні відступи */
}

.iconSize {
  width: 24px;
  height: 24px;
  transition: color 0.3s; /* Плавний перехід кольору */
  border: black;
}
.iconStarActive {
  /* Жовтий колір для активної зірки */
}

.iconSize {
  color: #e44848;

  stroke: black; /* Чорний контур для неактивного серця */
  stroke-width: 1px; /* Товщина контуру */
}

.iconSize.active {
}
.ratingText {
  text-decoration: underline; /* Підкреслює текст */
  color: black; /* Задайте колір для підкреслення */
  font-weight: normal; /* Додає жирність тексту */
}
