.buttonContainer {
}
.buttonBox {
  display: flex;

  width: calc((360px - 20px) / 3); /* Вирахування ширини кожної кнопки */
  height: 50px; /* Встановлення однакової висоти для кнопок */
  gap: 10px; /* Відстань між кнопками */
  justify-items: center; /* Центрування кнопок по горизонталі */
  text-align: center; /* Центрування тексту в кнопках */
  width: 100px;
  margin-bottom: 64px;
}

.buttonBox button {
  cursor: pointer; /* Курсор у вигляді покажчика */
  padding: 10px 20px; /* Додати відступи для кнопок */
  font-size: 16px; /* Розмір шрифту для кнопок */
  border: none; /* Вилучити обводку */
  border-radius: 5px; /* Закруглені кути */
  background-color: #f0f0f0; /* Фоновий колір кнопок */
  transition: background-color 0.3s; /* Плавний перехід фону */
}

.buttonBox button:hover {
  background-color: #e0e0e0; /* Колір фону при наведенні */
}

/* .iconStyle {
  width: 24px;
  height: 24px;
  fill: black;
} */
